.block {
    display: inline-block;
    width: 10%;
    height: 10%;
    border: solid;
    background-color: #04AA6D;
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }


  /* .webcamera {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */